grant codeBase "file:${user.dir}${/}-"{
	permission java.net.SocketPermission "127.0.0.1:1024-", "connect,resolve";
	permission java.io.FilePermission "${user.dir}${/}Client${/}-" ,"write,read";
	permission java.io.FilePermission "${user.dir}${/}Client" ,"write";
};