grant codeBase "file:${user.dir}${/}-"{
	permission java.net.SocketPermission "127.0.0.1:1024-", "listen";	
	permission java.net.SocketPermission "*:1024-", "accept,resolve";	
	permission java.io.FilePermission "${user.dir}${/}Server${/}-","write,read,delete";
	permission java.io.FilePermission "${user.dir}${/}Server","write";
	permission java.io.FilePermission "${user.dir}${/}Users${/}db.txt" ,"write,read";	
};